# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temporary Makefile 
*.d

# Mac File System
# find . -name .DS_Store -print0 | xargs -0 git rm -f --ignore-unmatch
.DS_Store

# Vim Temporary
*.swp
.*.swp

# Audio
*.mp3

# Debug Info
*.dSYM*
*.plist

# Executable
test
*.out

# Ctags
tags
